imageio==2.33.1
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==10.2.0
streamlit==1.27.2
ultralytics==8.1.5
torch==1.9.0
imageio==2.33.1
opencv_contrib_python==4.9.0.80
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
Pillow==10.2.0
streamlit==1.27.2
ultralytics==8.1.5
matplotlib>=3.3.0
numpy>=1.22.2
pyyaml>=5.3.1
requests>=2.23.0
scipy>=1.4.1
torchvision>=0.9.0
tqdm>=4.64.0
psutil
py-cpuinfo
thop>=0.1.1
pandas>=1.1.4
seaborn>=0.11.0
contourpy>=1.0.1
cycler>=0.10
fonttools>=4.22.0
kiwisolver>=1.0.1
packaging>=20.0
pyparsing>=2.2.1
python-dateutil>=2.7
pytz>=2020.1
charset-normalizer<4,>=2
idna<4,>=2.5
urllib3<3,>=1.21.1
certifi>=2017.4.17
filelock
typing-extensions
sympy
networkx
jinja2
fsspec
colorama
six>=1.5
MarkupSafe>=2.0
mpmath>=0.19
